:root {
  --color-yellow: #ffe600;
  --color-blue: #3483fa;
  --color-green: #00a650;

  --color-background: #f7f7f5;
  --color-surface: #ffffff;

  --color-text: #171717;
  --color-text-secondary: #6b7280;
  --color-border: #e7e7e7;

  --container: 1280px;

  --radius-sm: 12px;
  --radius-md: 20px;
  --radius-lg: 32px;
}
